PORT=8085
PUBLIC_IDENTITY_URL=http://localhost:8081
PUBLIC_GATEWAY_URL=http://localhost:8090
PUBLIC_STOCK_URL=http://localhost:8082
PUBLIC_KITCHEN_URL=http://localhost:8083
PUBLIC_NOTIFICATION_URL=http://localhost:8084
PUBLIC_NOTIFICATION_WS_URL=ws://localhost:8084/ws
